html, body {
  margin: 0;
  padding: 0;

  color: #292f33;
  background-color: #F5F8FA;
  font-size: 14px;
  line-height: 20px;

  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.app-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.spacer {
  height: 10px
}

.hidden {
  visibility: hidden;
  position: absolute!important;
  height: 1px!important;
}
